* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;


}

.container {
    background-color: white;
    padding: 20px;
    width: 500px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

form h2 {
    margin-bottom: 20px;
}



.form-control {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    position: relative;
    margin-bottom: 40px;
}

.form-control small {
    position: absolute;
    bottom: -20px;
}



.form-control.success input {
    border: 2px solid #028f44;
}

.form-control.error input {
    border: 2px solid #cf1c08;
}

.form-control.success i.fa-check-circle {
   display: block;
   color: #028f44;
}

.form-control.error i.fa-exclamation-circle {
    display: block;
    color: #cf1c08;
}
.form-control.error small {
    display: block;
    color: #cf1c08;
}

.form-control.success small {
    display: block;
    color: #028f44;
}



.form-control input {
    font-family: inherit;
    padding: 10px;
    font-size: inherit;

}

.form-control label {
    padding-bottom: 10px;
}

.form-control i {
    position: absolute;
    top: 46px;
    right: 10px;
    display: none;
}

.form-control small {
    display: none;
}

form button {
    width: 100%;
    display: block;
    font-size: inherit;
    font-size: 18px;
    padding: 10px;
    background-color: cadetblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

